<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="CsvFilePath" value="C:\Users\Lana\Downloads\vp\opsd-time_series-2020-10-06\opsd-time_series-2020-10-06\time_series_60min_singleindex.csv" />
        <add key="CountryCode" value="HU" />
        <add key="SelectedDay" value="2019-06-15" />
        <add key="RejectsFile" value="rejected_client.csv" />
        <add key="SimulateAbortAfter" value="0" />
    </appSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="streamingTcp"
                         transferMode="Buffered"
                         maxReceivedMessageSize="104857600"
                         maxBufferPoolSize="104857600"
                         sendTimeout="00:10:00"
                         receiveTimeout="00:10:00"
                         openTimeout="00:01:00"
                         closeTimeout="00:01:00">
                    <readerQuotas maxDepth="64"
                                  maxStringContentLength="10485760"
                                  maxArrayLength="10485760"
                                  maxBytesPerRead="10485760"
                                  maxNameTableCharCount="10485760" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint name="ConsumptionEndpoint"
                      address="net.tcp://localhost:4000/Consumption"
                      binding="netTcpBinding"
                      bindingConfiguration="streamingTcp"
                      contract="Common.IConsumptionService" />
        </client>
    </system.serviceModel>
</configuration>
